.All_product{
    display: flex;
    flex-direction: column;
    width: 78%;

}

.All_product h1{
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.All_product .products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

